main {
    margin: 1rem 0;
    display: grid;
    grid-template-areas:
    "aside lb lb lb lb";
}

aside {
    grid-area: aside;
    width: 75%;
}

aside ul {
    width: 75%;
}

aside li {
    list-style-type: none;
    border: 1px solid black;
    background-color: #E03A3E;
}

aside li a {
    text-decoration: none;
    text-align: center;
}

aside li a:hover {
    background-color: #FAF9F6;
    font-weight: bold;
}

#leaderboard {
    grid-area: lb;
    margin-right: 1rem;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    text-align: center;
}

table tr td {
    border: 1px solid black;
    text-align: center;
}

.active {
    font-weight: bolder;
}